/server/static/static/js/787.d5fa4d18.chunk.js
/server/static/static/js/787.d5fa4d18.chunk.js.map
/server/static/asset-manifest.json
/server/static/favicon.ico
/server/static/logo192.png
/server/static/logo512.png
/server/static/static/css/main.81287d68.css
/server/static/static/css/main.81287d68.css.map
/server/static/static/js/main.fd3d2311.js
/server/static/static/js/main.fd3d2311.js.LICENSE.txt
/server/static/static/js/main.fd3d2311.js.map
/server/static/manifest.json
/server/static/robots.txt
.idea
